:root {
  --background: oklch(98.18% 0.0054 95.0986);
  --foreground: oklch(34.38% 0.0269 95.7226);
  --card: oklch(98.18% 0.0054 95.0986);
  --card-foreground: oklch(19.08% 0.002 106.586);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(26.71% 0.0196 98.939);
  --primary: oklch(91.25% 0.1426 98.213);
  --primary-foreground: oklch(46.6% 0.0127 101.062);
  --secondary: oklch(92.45% 0.0138 92.9892);
  --secondary-foreground: oklch(43.34% 0.0177 98.6048);
  --muted: oklch(93.41% 0.0153 90.239);
  --muted-foreground: oklch(60.59% 0.0075 97.4233);
  --accent: oklch(92.45% 0.0138 92.9892);
  --accent-foreground: oklch(26.71% 0.0196 98.939);
  --destructive: oklch(19.08% 0.002 106.586);
  --destructive-foreground: oklch(100% 0 0);
  --border: oklch(88.47% 0.0069 97.3627);
  --input: oklch(76.21% 0.0156 98.3528);
  --ring: oklch(61.71% 0.1375 39.0427);
  --chart-1: oklch(55.83% 0.1276 42.9956);
  --chart-2: oklch(68.98% 0.1581 290.411);
  --chart-3: oklch(88.16% 0.0276 93.128);
  --chart-4: oklch(88.22% 0.0403 298.179);
  --chart-5: oklch(56.08% 0.1348 42.0584);
  --sidebar: oklch(96.63% 0.008 98.8792);
  --sidebar-foreground: oklch(35.9% 0.0051 106.652);
  --sidebar-primary: oklch(61.71% 0.1375 39.0427);
  --sidebar-primary-foreground: oklch(98.81% 0 0);
  --sidebar-accent: oklch(92.45% 0.0138 92.9892);
  --sidebar-accent-foreground: oklch(32.5% 0 0);
  --sidebar-border: oklch(94.01% 0 0);
  --sidebar-ring: oklch(77.31% 0 0);
  --font-sans: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-serif: ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0% 0 0);
  --shadow-2xs: 0 1px 3px 0px #0000000d;
  --shadow-xs: 0 1px 3px 0px #0000000d;
  --shadow-sm: 0 1px 3px 0px #0000001a, 0 1px 2px -1px #0000001a;
  --shadow: 0 1px 3px 0px #0000001a, 0 1px 2px -1px #0000001a;
  --shadow-md: 0 1px 3px 0px #0000001a, 0 2px 4px -1px #0000001a;
  --shadow-lg: 0 1px 3px 0px #0000001a, 0 4px 6px -1px #0000001a;
  --shadow-xl: 0 1px 3px 0px #0000001a, 0 8px 10px -1px #0000001a;
  --shadow-2xl: 0 1px 3px 0px #00000040;
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(26.79% 0.0036 106.643);
  --foreground: oklch(80.74% 0.0142 93.0137);
  --card: oklch(26.79% 0.0036 106.643);
  --card-foreground: oklch(98.18% 0.0054 95.0986);
  --popover: oklch(30.85% 0.0035 106.604);
  --popover-foreground: oklch(92.11% 0.004 106.478);
  --primary: oklch(67.24% 0.1308 38.7559);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(98.18% 0.0054 95.0986);
  --secondary-foreground: oklch(30.85% 0.0035 106.604);
  --muted: oklch(22.13% 0.0038 106.707);
  --muted-foreground: oklch(77.13% 0.0169 99.0657);
  --accent: oklch(21.3% 0.0078 95.4245);
  --accent-foreground: oklch(96.63% 0.008 98.8792);
  --destructive: oklch(63.68% 0.2078 25.3313);
  --destructive-foreground: oklch(100% 0 0);
  --border: oklch(36.18% 0.0101 106.893);
  --input: oklch(43.36% 0.0113 100.22);
  --ring: oklch(67.24% 0.1308 38.7559);
  --chart-1: oklch(55.83% 0.1276 42.9956);
  --chart-2: oklch(68.98% 0.1581 290.411);
  --chart-3: oklch(21.3% 0.0078 95.4245);
  --chart-4: oklch(30.74% 0.0516 289.323);
  --chart-5: oklch(56.08% 0.1348 42.0584);
  --sidebar: oklch(23.57% 0.0024 67.7077);
  --sidebar-foreground: oklch(80.74% 0.0142 93.0137);
  --sidebar-primary: oklch(32.5% 0 0);
  --sidebar-primary-foreground: oklch(98.81% 0 0);
  --sidebar-accent: oklch(16.8% 0.002 106.618);
  --sidebar-accent-foreground: oklch(80.74% 0.0142 93.0137);
  --sidebar-border: oklch(94.01% 0 0);
  --sidebar-ring: oklch(77.31% 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0% 0 0);
  --shadow-2xs: 0 1px 3px 0px #0000000d;
  --shadow-xs: 0 1px 3px 0px #0000000d;
  --shadow-sm: 0 1px 3px 0px #0000001a, 0 1px 2px -1px #0000001a;
  --shadow: 0 1px 3px 0px #0000001a, 0 1px 2px -1px #0000001a;
  --shadow-md: 0 1px 3px 0px #0000001a, 0 2px 4px -1px #0000001a;
  --shadow-lg: 0 1px 3px 0px #0000001a, 0 4px 6px -1px #0000001a;
  --shadow-xl: 0 1px 3px 0px #0000001a, 0 8px 10px -1px #0000001a;
  --shadow-2xl: 0 1px 3px 0px #00000040;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
